[Desktop Entry]
Encoding=UTF-8
Name=Miniweb
name=miniweb
Type=Service
ServiceTypes=Plasma/Applet
X-Plasma-API=python
X-Plasma-MainScript=code/main.py
Icon=internet-web-browser
X-KDE-PluginInfo-Author=lamda
X-KDE-PluginInfo-Email=arthur.kun@gmail.com
X-KDE-PluginInfo-Name=miniweb
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
